/* CloundDream Chalk Variables */

/* Color
---------------------------- */

// Backgorund color
$--background-color-base: #F5F7FA !default;

$--color-primary: rgba(255, 107, 0, 1) !default;
$--color-success: rgba(99, 220, 140, 1) !default;
$--color-warning: rgba(254, 152, 55, 1) !default;
$--color-danger: rgba(251, 77, 104, 1) !default;
$--color-info: rgba(240, 243, 247, 1) !default;

$--color-white: #FFFFFF !default;
$--color-black: rgba(31, 35, 37, 1) !default;
$--color-black2: rgba(55, 61, 65, 1) !default;
// Font  text-color 
$--color-text-primary: rgba(38, 38, 38, 1) !default;
$--color-text-regular:rgba(159, 159, 159, 1) !default;
$--color-text-secondary: rgba(215, 216, 217, 1) !default;
$--color-text-orange: $--color-primary !default;

// Border color
$--border-color-base: rgba(215, 216, 217, 1) !default;
$--border-radius-base: 2px !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: $--color-primary !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;


/* Box-shadow
-------------------------- */
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* FontSize
-------------------------- */
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 12px !default;

/* FontWeight
-------------------------- */
$--font-weight-base: 400 !default;
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */

/* Icon
-------------------------- */
$--icon-color: $--color-text-primary !default;
$--icon-hover-color: rgba(244, 245, 246, 1) !default;
$--icon-color-base: $--color-info !default;

/* Paddings
-------------------------- */
$--padding-lg: 24px; 
$--padding-md: 16px;
$--padding-sm: 12px; 
$--padding-xs: 8px; 

/* Margins
-------------------------- */
$--margin-lg: 24px; 
$--margin-md: 16px;
$--margin-sm: 12px; 
$--margin-xs: 8px; 

/* width  height
-------------------------- */
$--height-base: 32px; 
$--width-base: 32px;


/* Button
-------------------------- */
$--button-medium-min-width: 90px;

$--button-small-min-width: 76px;

$--button-font-size: $--font-size-base !default;

$--button-border-radius: $--border-radius-base !default;

$--button-padding-vertical: 9px !default;

$--button-padding-horizontal: 22px !default;

$--button-primary-border-color: $--color-primary !default;

$--button-primary-font-color: $--color-white !default;

$--button-primary-background-color: $--color-primary !default;

$--button-hover-primary-background-color: rgba(255, 122, 27, 1) !default;

$--button-disabled-defualt-background-color: rgba(215, 216, 217, 1) !default;

$--button-disabled-primary-color:rgba(255, 196, 153, 1);

$--button-default-font-color: $--color-text-primary !default;
$--button-primary-font-color: $--color-primary !default;
$--button-success-font-color:$--color-success !default;
$--button-danger-font-color: $--color-danger !default;






