.table-content {
    margin-right: 16px;
    border-radius: 2px;

    .handle-btn-wrap {
        justify-content: flex-start;

        span {
            i {
                color: #8a8585;
            }
        }

        .edit-icon {
            margin-right: 32px;
            cursor: pointer;
            position: relative;
        }

        .edit-icon:hover,
        .more-operate:hover {
            background: rgba(240, 243, 247, 1);
        }

        .more-operate {
            position: relative;
            cursor: pointer;
        }
    }

}

.operate-section {
    display: none;
    position: absolute;
    z-index: 19;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07);

    li {
        cursor: pointer;
        padding: 8px 16px;
        line-height: 17px;

        &:hover {
            color: #00c1de;
            background: rgba(0, 193, 222, 0.2);
        }
    }
}

.img-name {
    cursor: pointer;
    width: 80%
}

.storage-wrap {
    margin-right: 28px;
    line-height: 25px;

    .use-storage {
        display: inline-block;
        width: 186px;
        background: rgba(109, 114, 120, 0.09);
        padding: 4px;
        border-radius: 30px;
        margin: 0 16px;

        .progress-bar {
            height: 5px;
            width: 100%;
            border-radius: 30px;
            background: linear-gradient(270deg,
                    rgba(21, 232, 247, 1) 0%,
                    rgba(9, 204, 235, 1) 100%);
            box-shadow: 0px 0px 4px 0px rgba(105, 242, 255, 1);
        }
    }

    .title {
        font-size: 14px;
    }

    .storage-content {

        font-size: 14px;
        color: #666666;
    }
}

.list-footer {
    padding: 24px 0 10px 0;
    padding-left: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;

    .pageing {
        margin-top: 0;
        padding-bottom: 0;
        margin-left: auto;
    }
}

.isTop {
    width: 36px;
    height: 18px;
    background: rgba(254, 152, 55, 0.1);
    border-radius: 0px 0px 1px 0px;
    font-size: 12px;
    color: rgba(254, 152, 55, 1);
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -48px;
}