/* 修改element input设置字数显示 最后遮挡问题 */
.contentDetail-title.el-input /deep/ .el-input__inner {
    height: 32px;
    line-height: 32px;
    padding-right: 60px;
}
#article-content .el-collapse,
#article-content .el-form /deep/ .el-collapse-item__header {
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.el-form-item__error{
    font-weight: 400; 
}
/* 关键词样式修改 */
.keyword-list /deep/ .el-input{
    width: auto;
}
.keyword-list /deep/ .el-input .el-input__inner{
       border: none;
       padding: 0;
       height: 23px;
   }
/* 内容管理 操作头部 按钮 */