// 文章 产品详情 
// 设置的关键词 
.keyword-list {
    display: inline-block;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #DCDFE6;
    padding: 5px;
    box-sizing: border-box;
    li {
        position: relative;
        word-break: break-all;
        cursor: pointer;
        display: inline-block;
        margin: 0 4px 4px 0px;
        min-height: 23px;
        line-height: 21px;
        padding: 0 26px 0 10px;
        font-size: 12px;
        vertical-align: top;
        background-color: $--color-primary;
        border-radius: 16px;
        color: #FFF;
        overflow: hidden;
    
        i {
            color: #fff;
        }
        .el-icon-close{
            position: absolute;
            top: 2.5px;
            right: 0;
            bottom: 1px;
            min-height: 21px;
            height: 100%;
            margin-left: 6px;
            padding: 0px 10px;
            display: block;
            overflow: hidden;
            font-size: 16px;
        }
    }
   .el-input{
        width: auto;
        min-width: 185px;
    
    }
    .el-input /deep/ .el-input__inner{
           border: none;
           padding: 0;
           height: 23px;
           line-height: 23px;
    }
}

.article-content {
    .content-item {
        padding: 21px 16px 20px;
        background: #fff;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.03);
        margin-bottom: 16px;
    }
    .content-title {
        padding-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(38, 38, 38, 1);
    }
    .set-article,
    .seo-key {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.select-sort{
    padding-left: 16px;
}

/* 修改element input设置字数显示 最后遮挡问题 */
.contentDetail-title.el-input  .el-input__inner {
    height: 35px;
    line-height: 35px;
    padding-right: 70px;
}
#article-content .el-collapse,
#article-content .el-form  .el-collapse-item__header {
    border: none;
    font-size: 14px;
    font-weight: 600;
}
.el-form-item__error{
    font-weight: 400; 
}
/* 关键词样式修改 */


