$blue : #00c1de;
$black :#262626;
$white : #fff;
$green : #35B24B;
$red : #F54743;
$yello : #FFDE03;
$link : #DD70CC;
$blue-gray: #657C99;
$blue09c : #0099cc;
$gray: #e5f8fa;
body{
    color: #262626;
    min-width: 960px;
    overflow: hidden;
    font-family:  -apple-system, BlinkMacSystemFont, "PingFang SC",  "Microsoft YaHei", "Helvetica Neue",  Arial;
    background:rgba(255,255,255,1);

}
.page-scroll{
    overflow: auto;
    height: calc(100vh - 50px);
}
h1{font-size: 28px}
h2{font-size: 18px}
h3{font-size: 16px}
h4{font-size: 14px}
h5{font-size: 12px}

.color-black{
    color: $black !important;
}
button{
    border: none;
    cursor: pointer;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px
}
.gray8c{
    color: #8C8C8C;
}
.black{
    color: #262626;
}

.bigarea {
    position: relative;
   }
   .bigarea::before {
    content: '';
    position: absolute;
    top: -10px; right: -10px;
    bottom: -10px; left: -10px;
   }

   .ellipsis{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon-size{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.pannel-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 17px;
    border-top: 1px solid #efefef;
    .footer-btn {
        width: 63px;
        height: 32px;
        font-size: 14px;
        background: rgba(0, 193, 222, 1);
        color: #fff;
        border-radius: 2px;
    }
    .cancel {
        margin-left: 20px;
        background: #fff;
        border: 1px solid rgba(0, 193, 222, 1);
        color: rgba(0, 193, 222, 1);
    }
}
// 暂无数据
.empty-table {
    img {
        width: 54px;
        vertical-align: middle;
        padding: 18px 28px;
    }
    span {
        color: #8c8c8c;
    }
}

.auth-tip {
    box-sizing: border-box;
    margin: 10px 16px 0;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    color: #ff451d;
    background: rgba(253, 240, 237, 1);
    border: 1px solid rgba(253, 171, 153, 1);
}
.submenu-aside{
    width: 100px !important;
}
