.handle-btn-wrap {
    width: 70%;
    display: flex;
    justify-content:flex-end;
    .handle-btn {
        width: 17px;
        height: 16px;
    }
    .delete-btn {
        background: url("~img/siteManage/delete.png") no-repeat center;
        background-size: 100%;
        &:hover {
            background: url("~img/siteManage/delete-on.png") no-repeat center;
            background-size: 100%;
        }
    }
}