
/* buttom --- begin */
button{
    border-radius: 2px;
}
.btn-small{
    padding: 9px 15px;
    border-radius: 2px;
}
// button focus样式
button.deleteActive:focus{
    color: #09CCEB;
    background: #fff;
    border: 1px solid #09CCEB;
}
//lightblue
button.btn-lightblue{
    border: 1px solid #09CCEB;
    color: #09CCEB;
}
button.btn-darkblue{
    border: 1px solid #0595E6;
    color: #0595E6;
}
// button 无边框
.btn-notboard{
    border: none;
}
.btn-lightblue-notboard{
    border: none;
    color: rgba(9, 204, 235, 1 );
    margin: 0
}
.btn-lightblue-notboard:hover,.btn-lightblue:hover{
    color: #09CCEB;
    background: rgba(9, 204, 235, 0.1)
}
.btn-darkblue-notboard{
    border: none;
    color: rgba(5, 149, 230, 1 );
    margin: 0
}
.btn-darkblue-notboard:hover{
    border: none;
    color: #0595E6;
    background: rgba(5, 149, 230, 0.1 )
}
.btn-yellow-notboard{
    border: none;
    color: #FE9837;
    margin: 0
}
.btn-yellow-notboard:hover{
    border: none;
    color: #FE9837;
    background: rgba(254, 152, 55, 0.1 );
}
.btn-red-notboard{
    margin: 0;
    border: none;
    color: rgba(251, 77, 104, 1 );
}
.btn-red-notboard:hover{
    color: rgba(251, 77, 104, 1 );
    background: rgba(251, 77, 104, 0.1);
}
/*  buttom ----- end */
