
  .radio , .el-radio{

    .el-radio__inner{
      width: 14px;
      height: 14px;
    }
    .el-radio__inner:hover{
      border-color:  $--border-color-primary;
    }
    .el-radio__input.is-checked {
      .el-radio__inner {
        border-color:  $--border-color-primary;
        background: transparent;
      }
    }
    .el-radio__input.is-checked+.el-radio__label{
      color:  $--color-text-orange;
    }
    .el-radio__inner::after{
        width: 8px;
        height: 8px;
        background-color: $--color-primary ;
    }
    .el-radio {
        margin-right: 17px;
      }
      .el-radio__label {
        font-size: $--font-size-small;
        font-weight: $--font-weight-primary;
        color:  $--color-text-primary;
        line-height: 20px;
      }
      .is-checked {
        .el-radio__label {
            font-size: $--font-size-small;
            font-weight: $--font-weight-primary;
            color: $--color-text-primary;
            line-height: 20px;
          }
      }
  }