@import "../theme-chalk/common/var.scss";


.el-input__inner{
    border-color: $--border-color-base;
}
.el-form {
    .el-select {
        width: 100%;
        .el-input.is-focus,
        .el-input__inner:focus{
            border-color: $--color-primary ;
        }
        .el-input__inner::-webkit-input-placeholder {
            color: #262626;
        }
        .selected {
            background-color: $--color-info;
            span {
                color: $--color-primary;
                font-weight: 400;
            }
        }
       
    }
    .el-form-item {
        margin-bottom: 30px;
    }
}