
@import "../theme-chalk/mixins/utlis";
.el-table{
    border: $--border-base;  
    position: relative;
    color: $--color-text-primary;
    thead th > .cell {
        font-size: $--font-size-small;
        font-weight: $--font-weight-base;
        color: $--color-text-regular;
    }
    thead th,.el-table tbody td{
        padding: 8px 0;
    }
    td, th.is-leaf{
        border-bottom: $--border-base; 
    }
    tbody .el-table__row .cell{
        display: flex;
        align-items: center;
    }
    .el-table__body-wrapper .el-table__row .cell span{
        display: block;
        @include utils-ellipsis
    }
    .el-table__body tr .iconfont:hover {
        background: $--color-white;
    }
    .ascending .sort-caret.ascending {
        border-bottom-color: $--color-primary;
    }
    .descending .sort-caret.descending {
        border-top-color: $--color-primary;
    }
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
    background: $--background-color-hover;
}
