.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eaf3;
    background: #fff;
    margin-bottom: 24px;
    height: 70px !important;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin-right: 16px;
    padding: 0 24px;
}
.seachInput {
    display: inline-block;
    width: 248px;
    height: 33px;
    box-sizing: border-box;
    overflow: hidden;
}
.select-sort {
    display: inline-block;
    width: 117px;
    box-sizing: border-box;
    height: 32px;
    margin: 0 16px 0 7px;
}
.head-item {
    display: inline-block;
    flex: none;
}
.mode-item {
    display: inline-block;
    width: 45px;
    padding: 8px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    .mode-icon {
        display: inline-block;
        width: 16px;
        height: 14px;
    }
}
.list-mode {
    border-right: none;
    margin-left: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .list-icon {
        background: url("~img/list-mode.png") no-repeat center;
        background-size: 100%;
    }
    .list-iconOn {
        background: url("~img/list-modeOn.png") no-repeat center;
        background-size: 100%;
    }
}

.grid-mode {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    .mode-icon {
        background: url("~img/grid-mode.png") no-repeat center;
        background-size: 100%;
    }
    .mode-iconOn {
        background: url("~img/grid-modeOn.png") no-repeat center;
        background-size: 100%;
    }
}
.head-right,
.head-middle {
    float: right;
    display: flex;
    align-items: center;
}
.head-middle {
    margin-left: auto;
    padding-right: 82px;
    .sort-icon {
        display: inline-block;
        width: 16px;
        height: 14px;
    }
    .asc {
        background: url("~img/content-icon/asc.png") no-repeat center;
        background-size: contain;
    }
    .asc-icon-on {
        background: url("~img/content-icon/asc-on.png") no-repeat center;
        background-size: contain;
    }
    .dec {
        background: url("~img/content-icon/desc.png") no-repeat center;
        background-size: contain;
    }
    .dec-icon-on {
        background: url("~img/content-icon/desc-on.png") no-repeat center;
        background-size: contain;
    }
}
.upload-wrap {
    background: #00c1de;
    color: #fff;
}

// IMG 批量操作的头部样式
.handle-batch {
    display: flex;
    align-items: center;
    padding: 0px 21px;
    width: 100%;
    >div{
        margin-left: 16px;
    }
    .handle-btn{
        margin:0 8px
    }
}
// 文章 产品
.bach-header {
    display: flex;
    align-items: center;
    
    width: 100%;
    
    .bach-hanlder{
        padding-left: 24px;
    }
}
