.table-content {
    margin-right: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    .handle-btn-wrap {
        justify-content: flex-start;
        span{
            i{
                // font-size: 23px;
                color: #8a8585;
            }
        }
        .edit-icon {
            margin-right: 32px;
            cursor: pointer;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                right: -10px;
                bottom: -10px;
                left: -10px;
            }
        }
        .edit-icon:hover i,.more-operate:hover i {
            color: #09CCEB;
        }
        .more-operate {
            position: relative;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                right: -10px;
                bottom: -10px;
                left: -10px;
            }
        }
    }
   
}
.operate-section {
    display: none;
    position: absolute;
    z-index: 19;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
    li {
        cursor: pointer;
        padding: 8px 16px;
        line-height: 17px;
        &:hover {
            color: #00c1de;
            background: rgba(0, 193, 222, 0.2);
        }
    }
}
.img-name{
    cursor: pointer;
    width: 80%
}
.storage-wrap {
    float: left;
    margin-top: 24px;
    margin-right: 28px;
    .use-storage {
        display: inline-block;
        width: 186px;
        background: rgba(109, 114, 120, 0.09);
        padding: 4px;
        border-radius: 30px;
        margin-left: 16px;
        .progress-bar {
            height: 5px;
            width: 100%;
            border-radius: 30px;
            background: linear-gradient(
                270deg,
                rgba(21, 232, 247, 1) 0%,
                rgba(9, 204, 235, 1) 100%
            );
            box-shadow: 0px 0px 4px 0px rgba(105, 242, 255, 1);
        }
    }
    .title{
        font-size: 16px; 
    }
    .storage-content {
        padding-left: 21px;
        font-size: 16px;
        color: #666666;
    }
}