#content-manage {
    padding-bottom: 30px;
    .el-aside {
        overflow: visible !important;
    }
    .tree-aside {
        width: 220px !important;
        height: 100vh;
        background: #fff;
        margin: 0 0 0 13px;
    }
    .el-dialog__body {
        padding-top: 0;
    }

    .pannle-footer {
        position: absolute;
        bottom: 17px;
        width: 100%;
        border-top: 1px solid #eee;
        padding: 17px 17px 0 17px;
        button {
            width: 66px;
            height: 32px;
            background: rgba(0, 193, 222, 1);
            margin-right: 8px;
            color: #fff;
        }
        .cancel{
            color: #262626;
            background:rgba(238,238,238,1);
        }
    }
}
