$blue : #00c1de;
$black :#262626;
$white : #fff;
$green : #35B24B;
$red : #F54743;
$yello : #FFDE03;
$link : #DD70CC;
$blue-gray: #657C99;
$blue09c : #0099cc;
$gray: #e5f8fa;
body{
    min-width: 960px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    font-size: 14px;

}
h1{font-size: 28px}
h2{font-size: 18px}
h3{font-size: 16px}
h4{font-size: 14px}


.fs14{
    font-size: 14px
}
.fs16{
    font-size: 18px
}
.fs18{
    font-size: 18px
}


.el-radio-group  .el-radio__label{
    color: #A1A8B1;
    font-size: 16px;
    padding-left: 16px;
    font-weight: 400
}
.el-radio-group  .el-radio__inner{
    width: 18px;
    height: 18px;
}
.el-radio-group .el-radio__input.is-checked .el-radio__inner{
    border-color: #09CCEB;
    background: #fff;
}
.el-radio-group .el-radio__inner:hover{
    border-color:#09CCEB;
}
.el-radio-group .el-radio__input.is-checked+.el-radio__label{
    color: #09CCEB;
}
.el-radio-group .el-radio__inner::after{
    width: 9px;
    height: 9px;
    background: #09CCEB;
}