


.el-radio-group  .el-radio__label{
    color: #A1A8B1;
    font-size: 16px;
    padding-left: 16px;
    font-weight: 400
}
.el-radio-group  .el-radio__inner{
    width: 18px;
    height: 18px;
}
.el-radio-group .el-radio__input.is-checked .el-radio__inner{
    border-color: #09CCEB;
    background: #fff;
}
.el-radio-group .el-radio__inner:hover{
    border-color:#09CCEB;
}
.el-radio-group .el-radio__input.is-checked+.el-radio__label{
    color: #09CCEB;
}
.el-radio-group .el-radio__inner::after{
    width: 9px;
    height: 9px;
    background: #09CCEB;
}
.primary-button__nomal {
    display: inline-block;
    font-size: 16px;
    font-family: "PingFangSC";
    font-weight: 400;
    color: #fff;
    padding: 14px 36px;
    text-align: center;
    background: rgba(9, 204, 235, 1);
    box-shadow: 0px 2px 16px 0px rgba(9, 204, 235, 0.43);
    border-radius: 4px;
    cursor: pointer;
}
.ym-form-item__error {
    color: #262626;
    padding-top: 8px;
    position: absolute;
    &::before {
        display: inline-block;
        content: "";
        width: 13px;
        height: 13px;
        vertical-align: -2px;
        padding-right: 8px;
        background: url("~img/jian-icon.png") no-repeat center;
        background-size: contain;
    }
}
.ellipsis{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: transparent;
}