<<<<<<< HEAD
// 常规按钮
=======



.el-radio-group  .el-radio__label{
    color: #A1A8B1;
    font-size: 16px;
    padding-left: 16px;
    font-weight: 400
}
.el-radio-group  .el-radio__inner{
    width: 18px;
    height: 18px;
}
.el-radio-group .el-radio__input.is-checked .el-radio__inner{
    border-color: #09CCEB;
    background: #fff;
}
.el-radio-group .el-radio__inner:hover{
    border-color:#09CCEB;
}
.el-radio-group .el-radio__input.is-checked+.el-radio__label{
    color: #09CCEB;
}
.el-radio-group .el-radio__inner::after{
    width: 9px;
    height: 9px;
    background: #09CCEB;
}
>>>>>>> 509179aaa07974de506e884d086a0120b442b61d
.primary-button__nomal {
    display: inline-block;
    font-size: 16px;
    font-family: "PingFangSC";
    font-weight: 400;
    color: #fff;
    padding: 14px 36px;
    text-align: center;
    background: rgba(9, 204, 235, 1);
    box-shadow: 0px 2px 16px 0px rgba(9, 204, 235, 0.43);
    border-radius: 4px;
    cursor: pointer;
}

.border {
    border: 1px solid #c9d9dc;
}

.scroll-section {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 73px);
    overflow-y: auto;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
    zoom: 1;
}