@import "./select.scss";
@import "./radio.scss";
@import "./checkbox.scss";
@import "./table.scss";
@import "./pagination.scss";
@import "./input.scss";
@import "./image-dialog.scss";
@import "./pop-up/pop-up.scss";
@import "./m-tree.scss";

.el-main {
    padding: 0;
}
.el-container .el-header {
    padding: 0;
}


.el-popover:focus{
    outline: none !important;
}

// tab选项默认outline
.el-tabs__item:focus.is-active.is-focus:not(:active){
    box-shadow: none!important;
    border-radius: 0;
}