
  .radio {

    .el-radio__inner{
        width:24px;
        height:24px;
    }
    .el-radio__inner:hover{
      border-color:  $--color-primary;
    }
    .el-radio__input.is-checked .el-radio__inner {
        border-color:  $--color-primary;
        background: transparent;
    }
    .el-radio__inner::after{
        width: 12px;
        height: 12px;
        background-color: $--color-primary ;
    }
    .el-radio {
        margin-right: 17px;
      }
      .el-radio__label {
        font-size: 12px;
        font-weight: 400;
        color: rgba(140, 140, 140, 1);
        line-height: 20px;
      }
      .is-checked {
        .el-radio__label {
            font-size: 12px;
            font-weight: 400;
            color: rgba(38, 38, 38, 1);
            line-height: 20px;
          }
      }
  }