
  .radio , .el-radio{

    .el-radio__inner{
      width: 16px;
      height: 16px;
    }
    .el-radio__inner:hover{
      border-color:  $--color-primary;
    }
    .el-radio__input.is-checked {
      .el-radio__inner {
        border-color:  $--color-primary;
        background: transparent;
      }
    }
    .el-radio__input.is-checked+.el-radio__label{
      color:  $--color-primary;
    }
    .el-radio__inner::after{
        width: 8px;
        height: 8px;
        background-color: $--color-primary ;
    }
    .el-radio {
        margin-right: 17px;
      }
      .el-radio__label {
        font-size: 12px;
        font-weight: 400;
        color:  $--color-text-primary;
        line-height: 20px;
      }
      .is-checked {
        .el-radio__label {
            font-size: 12px;
            font-weight: 400;
            color: rgba(38, 38, 38, 1);
            line-height: 20px;
          }
      }
  }