body {
    min-width: 1170px;
    min-height: 500px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Arial;
    color: $--color-text-primary;
    background: $--background-color-selected;
    overflow: hidden;
}

.page-scroll {
    overflow: auto;
    height: calc(100vh - 50px);
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    /*超出部分隐藏*/
    text-overflow: ellipsis;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
    /* 超出部分显示省略号 */
    white-space: nowrap;
    /*规定段落中的文本不进行换行 */
}

// 自定义input错误提示图标
.ym-form-item__error {
    color: #262626;
    padding-top: 8px;

    &::before {
        display: inline-block;
        content: "";
        width: 13px;
        height: 13px;
        vertical-align: -2px;
        padding-right: 8px;
        background: url("~img/jian-icon.png") no-repeat center;
        background-size: contain;
    }
}

.fs14 {
    font-size: 14px
}

// 左侧次级菜单宽度
.submenu-aside {
    width: 110px !important;
}

// 暂无数据
.empty-table {
    padding: 50px;
    text-align: center;
    height: 251px;

    img {
        vertical-align: middle;
        padding: 18px 28px;
        display: inline-block;
        width: 50px;
        height: 35px;
        margin-top: 50px;
    }

    p {
        color: #8c8c8c;
    }
}

// 错误提示
.auth-tip {
    box-sizing: border-box;
    margin: 10px 16px 0;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    color: #ff451d;
    background: rgba(253, 240, 237, 1);
    border: 1px solid rgba(253, 171, 153, 1);
}

// popover 弹框样式
.textareaWrap {
    background: $--color-white;
    margin: 12px 4px;
    position: relative;

    .btn-wrap {
        text-align: right;
        padding-top: 16px;
    }
}