.ym-form-item__error {
    color: #262626;
    padding-top: 8px;

    &::before {
        display: inline-block;
        content: "";
        width: 13px;
        height: 13px;
        vertical-align: -2px;
        padding-right: 8px;
        background: url("~img/jian-icon.png") no-repeat center;
        background-size: contain;
    }
}