@import "./mixins/_button.scss";

.cl-button {
    cursor: pointer;
    text-align: center;
    min-width: $--button-medium-min-width;
    border: 1px solid $--color-primary;
    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--font-size-small, $--button-border-radius);

    & + & {
        margin-left: $--margin-md
      }

    &--primary {
        color: $--color-white;
        background-color: $--button-primary-background-color;
        border-color: $--button-primary-background-color;
        &:hover {
            background-color: $--button-hover-primary-background-color;
        }
        &.is-disabled{
            cursor: not-allowed;
            color: $--color-white;
            border-color:$--button-disabled-primary-color;
            background-color: $--button-disabled-primary-color;
           
        }
    }

    &--primary_notbg {
        color: $--color-primary;
        border-color: $--color-primary;
        &:hover {
            color: $--color-white;
            background-color: $--button-primary-background-color;
        }
        &.is-disabled{
            cursor: not-allowed;
            color: $--button-disabled-primary-color;
            border-color: $--button-disabled-primary-color;
            background-color: $--color-white;
            
        }
    }

    &--disabled {
        color: $--color-white;
        border-color: $--button-disabled-defualt-background-color;
        background: $--button-disabled-defualt-background-color;
    }
    &.is-block {
        width: 100%;
     }

    &--text{
        border-color: transparent;
        color: $--button-default-font-color;
    }
    &--text_primary{
        border-color: transparent;
        color: $--button-primary-font-color;
    }
    &--text_info{
        border-color: transparent;
        color: $--button-info-font-color;
    }
    &--text_success{
        border-color: transparent;
        color: $--button-success-font-color;
    }

    &--text_danger{
        border-color: transparent;
        color: $--button-danger-font-color;
    }

    &--medium {
        min-width: $--button-medium-min-width;
    }

    &--small {
        min-width: $--button-small-min-width;
    }


}



// 修改 button默认样式  begin
.el-button{
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    margin: 0 8px;
}

.el-button.btn-delete{
    border: 1px solid #FE9837;
    color: #FE9837;
}
.el-button.btn-delete:hover{
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.9)
}
.el-button.btn-defualt{
    border: 1px solid #09CCEB;
    color: #09CCEB;
}
.el-button.btn-defualt:hover{
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.9)
}
/* el-buttom -----  end */

button{
    border-radius: 2px;
}
.btn-small{
    padding: 9px 15px;
    border-radius: 2px;
}
// button focus样式
button.deleteActive:focus{
    color: #09CCEB;
    background: #fff;
    border: 1px solid #09CCEB;
}
//lightblue
button.btn-lightblue{
    border: 1px solid #09CCEB;
    color: #09CCEB;
    box-sizing: border-box;
}
//lightblue
button.btn-bglightblue{
    border: 1px solid #09CCEB;
    color: #fff;
    background-color: #09CCEB;
    box-sizing: border-box;
}
button.btn-darkblue{
    border: 1px solid #0595E6;
    color: #0595E6;
}
/* button  end */

// button 无边框
.btn-notboard{
    border: none;
}
.btn-lightblue-notboard{
    border: none;
    color: rgba(9, 204, 235, 1 );
    margin: 0
}
.btn-lightblue-notboard:hover,.btn-lightblue:hover{
    color: #09CCEB;
    background: rgba(9, 204, 235, 0.1)
}
.btn-darkblue-notboard{
    border: none;
    color: rgba(5, 149, 230, 1 );
    margin: 0
}
.btn-darkblue-notboard:hover{
    border: none;
    color: #0595E6;
    background: rgba(5, 149, 230, 0.1 )
}
.btn-yellow-notboard{
    border: none;
    color: #FE9837;
    margin: 0
}
.btn-yellow-notboard:hover{
    border: none;
    color: #FE9837;
    background: rgba(254, 152, 55, 0.1 );
}
.btn-red-notboard{
    margin: 0;
    border: none;
    color: rgba(251, 77, 104, 1 );
}
.btn-red-notboard:hover{
    color: rgba(251, 77, 104, 1 );
    background: rgba(251, 77, 104, 0.1);
}